<h1>Admin::Dashboard#show</h1>
 <div class="dashboard-info">
    <%= link_to "There are #{@p_count} Products, click here",  '/admin/products', class: 'btn btn-info' %>
  </div>
  <br/>
  <div class="dashboard-info">
    <%= link_to "There are #{@c_count} Categories, click here", '/', class: 'btn btn-info' %>
  </div>
