<section class="about-index">
  <article>

    <header class="page-header">
      <h1> About Jungle </h1>
    </header>
    <br/>
    <div>
      <p> This is Jungle. </p>
    </div>

  </article>

</section>